@use '../styles/abstracts/functions/' as *;

:root {
  --background: #f4f4f4;
  --foreground: #c1c1c1;
  --color-text: #0a0a0a;
  --color-text-light: #f4f4f4;
  --color-main-blue: #0070b4;
  --color-secondary-blue: #00a8e4;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--color-text);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  padding: pxToRem(8);
}

table {
  border-collapse: collapse;


  th, td {
    border: 1px solid #ccc;
    padding: pxToRem(3) pxToRem(3);
  }

  th {
    background-color: #e0e0e0;
  }

  tr:nth-child(even) {
    background-color: #e8e8e8;
  }
}

ul {
  list-style: none;
}

// Position
.pos {
  &-absolute {
    position: absolute
  }
  &-relative {
    position: relative
  }
}

// Display
.d {
  &-block {
    display: block;
  }
  &-inline {
    display: inline;
  }
  &-inline-block {
    display: inline-block;
  }
  &-flex {
    display: flex;
  }
  &-none {
    display: none;
  }
}

// Flex 
.flex-ai {
  &-center {
    align-items: center;
  }
}


a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
