@use './../abstracts/' as *;

@forward './admin/importdata';
@forward './home';
@forward './competition';
@forward './search';

.page {
  h2, h3 {
    text-align: center;
    color: var(--color-secondary-blue);
    margin: pxToRem(10);
  }

  th {
    border-top: none
  }

  .table-title {
    color: white;
    background: linear-gradient(0deg, var(--color-main-blue) 0%, var(--color-secondary-blue) 100%);
    text-align: center;
    font-size: pxToRem(20);
    padding: pxToRem(10) 0;
    font-weight: 600;
  }
}
