@use './../abstracts' as *;

.header {
  background-color: var(--color-main-blue);
  color: var(--color-text-light);
  height: pxToRem(50);
  justify-content: center;

  .toggle-icon {
    position: absolute;
    top: pxToRem(13);
    left: pxToRem(16);
    height: pxToRem(24);
    width: pxToRem(24);
    cursor: pointer;
    transition: all .5s;
  }

  @include breakpoints('medium+') {
    height: 60px;

    .toggle-icon {
      top: pxToRem(18);
    }
    &.is-open {
      .toggle-icon {
        color: var(--color-main-blue);
        left: calc(pxToRem(300) - pxToRem(24) - pxToRem(16));
        transition: all .5s;
      }
    }

  }
}
