@use './../abstracts' as *;

.header {
  background: linear-gradient(0deg, var(--color-main-blue) 0%, var(--color-secondary-blue) 100%);
  color: var(--color-text-light);
  height: pxToRem(50);
  justify-content: center;

  h1 {
    height: pxToRem(40);

    span {
      display: none;
    }

    img {
      height: pxToRem(40);
      width: pxToRem(149);
    }
  }

  .toggle-icon {
    position: absolute;
    top: pxToRem(13);
    left: pxToRem(16);
    height: pxToRem(24);
    width: pxToRem(24);
    cursor: pointer;
    transition: all .5s;
    z-index: 1;
  }

  &.is-open {
    .toggle-icon {
      color: var(--color-main-blue);
    }
  }

  @include breakpoints('medium+') {
    height: 60px;

    h1 {
      height: pxToRem(50);

      img {
        height: pxToRem(50);
        width: pxToRem(186);
      }
    }

    .toggle-icon {
      top: pxToRem(18);
    }
    &.is-open {
      .toggle-icon {
        left: calc(pxToRem(300) - pxToRem(24) - pxToRem(16));
        transition: all .5s;
      }

      h1 img {
        display: none;
      }
    }
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color-layer);
    z-index: 1;
  }
}
