@use './../abstracts' as *;

.nav-bar {
  position: absolute;
  top: pxToRem(50);
  width: 100%;
  transform: translateX(-100%);
  transition: all .5s;
  z-index: 1;

  .nav-bar--link {
    color: var(--color-main-blue);
  }

  &--list {
    color: var(--color-main-blue);
    border-right: pxToRem(.5) solid var(--color-main-blue);
    background-color: #fff;
    font-weight: 600;
    
    &-item {
      $item-list-height: pxToRem(30);
      height: $item-list-height;
      line-height: $item-list-height;
      padding-left: pxToRem(8);
      border-bottom: .5px solid var(--color-main-blue);
      
      .nav-bar--link {
        transition: all 2s;
        margin-left: 0;
      }
      .nav-bar--link:hover {
        cursor: pointer;
        color: var(--color-secondary-blue);
        margin-left: 10px;
        transition: all 1s;
      }
    }
  }

  &--gap {
    display: none;
  }

  &.is-open {
    transform: translateX(0);
    transition: all .5s;
  }

  @include breakpoints('medium+') {
    width: 300px;
    left: 0;
    top: 0;
    height: 100%;
    border-right: pxToRem(.5) solid var(--color-main-blue);
    background-color: #fff;

    &--list {
      border-right: none;
    }

    &--gap {
      display: flex;
      align-items: center;
      justify-content: center;
      height: pxToRem(60);
      padding-right: calc(pxToRem(16) + pxToRem(24));
    }
  }
}

