@use './../abstracts' as *;

.filter-container {
  display: flex;
  flex-direction: column;
  grid-gap: pxToRem(8) pxToRem(24);
  background: #fff;
  padding: pxToRem(5);
  
  @include breakpoints('medium+') {
    flex-direction: row;
  }

  legend {
    margin-top: pxToRem(12);
  }

  .filter-type-container, .filter-competition-container {
    background: #fff;
    border: pxToRem(1) solid var(--color-secondary-blue);
    border-radius: pxToRem(8);
    padding: pxToRem(4);
    padding-bottom: 0;
    margin-top: pxToRem(4);
  }

  .checkbox-container {
    @include breakpoints('medium+') {
      display: inline-block;

      &:not(:last-child) {
        margin-right: pxToRem(4);
      }
    }
  }
}
