@use './../../abstracts' as *;

input[type="checkbox"] {
  display: none;

  & + label {
    border-radius: pxToRem(4);
    display: inline-block;
    height: pxToRem(24);
    line-height: pxToRem(24);
    padding: 0px pxToRem(10);
    width: auto;
    border: 1px solid var(--color-secondary-blue);
    margin-bottom: pxToRem(4);

    &:hover {
      cursor: pointer;
    }

    &:not(:last-child) {
      margin-right: pxToRem(4);
    }
  }

  &:checked + label {
    background: var(--color-secondary-blue);
    color: #fff;
  }
}
